body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 10px 40px;
    font-size: 1vw;
    font-weight: 900;
    background-color: #2ea3f2;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

a {
    padding: 1vw;
    text-decoration: none;
    color: white;
    border: 0.2vw solid lightcyan;
    border-radius: 1vw;
}

.header img {
    width: 12vw;
    height: auto;
    border-radius: 8px;
}

.content {
    flex: 1;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img {
    height: 82.5vh;
    animation-duration: 5s;
    animation-name: img-grow;
    flex: 1;
    overflow: auto;
}

@keyframes img-grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.footer {
    background-color: #2ea3f2;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}