body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 10px 40px;
    font-size: 1vw;
    font-weight: 900;
    background-color: #2ea3f2;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

a {
    padding: 1vw;
    text-decoration: none;
    color: white;
    border: 0.2vw solid lightcyan;
    border-radius: 1vw;
}

.header img {
    width: 12vw;
    height: auto;
    border-radius: 8px;
}

.content {
    display: flex;
}

.left-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35vh;
    flex: 1;
}

.left-images img {
    width: 10vw;
    padding-right: 2.5vw;
}

.center-images img {
    width: 55.3vw;
    margin-bottom: -0.4vh;
}

.right-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35vh;
    flex: 1;
}

.right-images img {
    width: 10vw;
    padding-left: 2.5vw;
}

.footer {
    background-color: #2ea3f2;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}